*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-image: url(img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
  max-width: 400px;
  height: 400px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);

  /* background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */
  border-radius: 4px;
}
@media ( max-width: 576px){
  #container{
    max-width: 250px;
    height: 330px;
  }
  }

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black !important;  
}
input{
  padding: 10px 20px;
  /* padding-left: 5px; */
  /* border-bottom: 3px solid black; */
  color: black;
  /* border-color: black; */
  border-radius: 5px;
  border: none;
}
button{
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px !important;
  background-color: black;
  /* border: none; */
  font-weight: 700;

}
p{
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: black;
}








